@import "tailwindcss";

@theme {
    --color-balatro-dark: #1a1a1a;
    --color-balatro-red: #ff4d4d;
    --color-balatro-blue: #4d79ff;

    --font-family-sans: system-ui, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Important for full-screen games */
    background-color: #000;
}
